.row {
  padding-top: 15px;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-row:hover {
  cursor: pointer;
  background-color: #ccc;
}

table button:focus {
  outline: none;
}

table button:hover {
  background-color: #fff;
}

mat-paginator {
  width: 100%;
}

.toolbar-connecting {
  margin-top: 30px;
}

.fixed-block {
  padding-top: 0.3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 1em 0;
}

.container {
  padding-top: 15px;
}
