button:focus {
  outline: 0;
}

.fill-remaining-space {
  margin: 5px;
}
.title-block {
  cursor: pointer;
}

.menu-spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.menu-icon {
  padding: 0 5px;
}

.person-data {
  padding: 8px 16px;
}
