.row {
  padding-top: 15px;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-row:hover {
  cursor: pointer;
  background-color: #ccc;
}

table button:focus {
  outline: none;
}

table button:hover {
  background-color: #fff;
}

mat-paginator {
  width: 100%;
}

.fixed-block {
  padding-top: 0.3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 1em 0;
}

.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.toolbar mat-form-field {
  width: 85%;
}

.toolbar div {
  margin: 0.75em;
}

@media screen and (max-width: 360px) {
  toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  toolbar mat-form-field {
    width: 100%;
  }
  toolbar div {
    width: 100%;
    margin: 15px auto;
  }
  toolbar div button {
    width: 100%;
  }
}

.create-button {
  margin-left: 0 !important;
  margin-right: 5% !important;
}
