<div class="container">
    <div class="toolbar">
      <div class="create-button">
        <button mat-raised-button color="accent" aria-label="" (click)="addProject()">
          Create new Project
        </button>
      </div>
      <mat-form-field>
        <input matInput #searchInput placeholder="Search by Name"
               (keydown.enter)="searchProjects($event.target.value)">
        <button mat-button *ngIf="searchInput.value" matSuffix mat-icon-button aria-label="Clear"
                (click)="searchProjects(''); searchInput.value = ''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  <div *ngIf="!emptyFlag">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z5"
           matSort>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
        <td mat-cell *matCellDef="let element"> {{element.description.length > maxDescriptionLength ?
          (element.description | slice:0:maxDescriptionLength) + '...' : (element.description)}}
        </td>
      </ng-container>

      <ng-container matColumnDef="creator">
        <th mat-header-cell *matHeaderCellDef mat-sort-header hidden> Author</th>
        <td mat-cell *matCellDef="let element" hidden> {{element.User.username}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td class="text-right" mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
          <button mat-icon-button aria-label="" (click)="editProject(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="" (click)="removeProject(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showInfo(row)"></tr>
    </table>
    <mat-paginator #paginator class="mat-elevation-z3"
                   [pageIndex]="0"
                   [pageSize]="5"
                   [length]="length"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
  <div *ngIf="emptyFlag" class="empty">
    <h5>Table is empty</h5>
  </div>
  <!--<div class="fixed-block">-->
  <!---->
  <!--</div>-->
</div>
