.project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
button:focus {
  outline: 0;
}
.wrap {
  word-wrap: break-word;
  padding: 0 !important;
}
.manage-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
