::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.done-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.maintainers {
  margin: 10px;
}
.developers {
  margin: 10px;
}
