.example-icon {
  padding: 0 14px;
}

.example-spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #fff;
}

a:visited {
  color: #fff;
}

:host button:focus {
  outline: 0;
}

.center {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
}
