<div class="container mt-10">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <mat-card class="card card-signin my-5">
        <mat-card-header class="card-content-center">
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content-center">
          <form class="example-form" [style.display]="!showSpinner ? 'flex': 'none'">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password"
                           required (keydown.enter)="login()">
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </form>
          <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>
        <mat-card-actions class="card-content-actions">
          <button mat-raised-button (click)="login()" color="accent">Sign in</button>
          <button mat-raised-button routerLink="/registration" color="primary">Sign up</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>


