<p>
  <mat-form-field>
    <mat-select [formControl]="bankMultiCtrl" placeholder="Developers" [multiple]="true" #multiSelect (focusout)="nextClick()">
      <ngx-mat-select-search [formControl]="bankMultiFilterCtrl"></ngx-mat-select-search>
      <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank">
        {{bank.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>

